.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav.nav-tabs a.nav-link.active {

  background-color: #858a8e;
  color: #242627;

}

div.react-bootstrap-table {
  overflow-x: auto;
}

div.react-bootstrap-table table.table {
  table-layout: auto;
}

table#tableDark {
  background-color: #343a40;
  color:#fff;
  border: 1px solid #454d55;
}

tr:nth-of-type(odd) {
  background-color: hsla(0,0%,100%,.05);
}

.table thead th {
  border: 1px solid #454d55;
}

table.table-bordered td, .table-bordered th {
  border: 1px solid #454d55;
}

table.table tr.editedCell {
  background-color: #ffc107;
}

table.table tr.savedCell {
  background-color: #28a745;
}